// Light colors
$bg-light: #EAECF8;
$primary-light: #7736EE;
$secondary-light: #CAC8C8;

// Dark colors
$bg-dark: #222036;
$primary-dark: #83E949;
$secondary-dark: #542967;

// Error colors
$error-color: #f16e60;
