// Light colors
$bg-light: #f4f0f0;
$primary-light: #3d475c;
$secondary-light: #cac8c8;

// Dark colors
$bg-dark: #333333;
$primary-dark: #6c6666;
$secondary-dark: #292929;

// Error colors
$error-color: #f16e60;
